 @font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway-Regular.ttf");
    
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "RalewayThin";
    src: url("..//fonts/RalewayThin/RalewayThin.eot");
    src: url("..//fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("..//fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("..//fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayBold";
    src: url("..//fonts/RalewayBold/RalewayBold.eot");
    src: url("..//fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("..//fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("..//fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
   
}



*{
    font-family: "RalewayRegular", sans-serif;
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
    line-height: 2em;
}

.roof, .basement{ 
    background: #b9a195;
    padding: 5vh;
}

.main{
    background: #e6d6c5;
    
}
section{
    padding:10vh 10vw;
    border: 2px dotted #765b58;
}
.navigation__elem-link{
    padding:15px;
}
a:hover{
    background: #765b58;
    color: #e6d6c5;
   
}
.description:nth-child(2){
    font-style: italic;
}
.form__textarea{
   min-width: 20px;
   max-width: 300px;
   width: 40vw;
   height: 100px;
}
.form{
    padding: 50px;
}

.navigation__elem{
    display: inline;
    margin: 0 30px;
    list-style-type: none;
}


