/* <a>:
a{}
li{}
.list-item{}
.list-item a{}
li.list-item{}
li.list-item a{}
a[href]{}
[href='']{}
.list a{}
.list .list-item a{}
.list li.list-item a{}
ul.list a{}
ul.list .list-item a{}
ul.list li.list-item a{}
nav ul.list li.list-item a{}
header nav ul.list li.list-item a{}
body header nav ul.list li.list-item a{} */

/* <h2>: */
/* h2{}
.blog h2{}
section h2{}
section>h2{}
section.blog h2{}
main section.blog h2{}
body main section.blog h2{} */

/* <article>: */
/* article{}
.blog-article{}
article.blog-article{}
.blog .blog-article{}
.blog article{}
.blog article.blog-article{}
section article{}
section .blog-article{}
section article.blog-article{}
section.blog article{}
section.blog .blog-article{}
section.blog article.blog-article{}
main section.blog article.blog-article{}
body main section.blog article.blog-article{} */

/* <input>: */
/* input{}
.contacts-form-input{}
input.contacts-form-input{}
[type='text']{}
input[type*='text']{}
form[class|='contacts'] input{}
section[clas='contacts'] input{}
form input{}
form .contacts-form-input{}
form input.contacts-form-input{}
#contacts-form input{}
#contacts-form .contacts-form-input{}
#contacts-form input.contacts-form-input{}
form#contacts-form input{}
form#contacts-form .contacts-form-input{}
form#contacts-form input.contacts-form-input{}
.contacts form#contacts-form input.contacts-form-input{}
section form#contacts-form input.contacts-form-input{}
section.contacts form#contacts-form input.contacts-form-input{}
main section.contacts form#contacts-form input.contacts-form-input{}
body main section.contacts form#contacts-form input.contacts-form-input{} */

/* <button>: */
/* [id|='contacts']{}
button[type='submit']{}
button{}
#contacts-form-submit{}
button#contacts-form-submit{}
form button{}
form #contacts-form-submit{}
form button#contacts-form-submit{}
#contacts-form button{}
#contacts-form #contacts-form-submit{}
#contacts-form button#contacts-form-submit{}
form#contacts-form button{}
form#contacts-form #contacts-form-submit{}
form#contacts-form button#contacts-form-submit{}
section form button{}
section form #contacts-form-submit{}
section form button#contacts-form-submit{}
section #contacts-form button{}
section #contacts-form #contacts-form-submit{}
section #contacts-form button#contacts-form-submit{}
section form#contacts-form button{}
section form#contacts-form #contacts-form-submit{}
section form#contacts-form button#contacts-form-submit{}
.contacts form#contacts-form button#contacts-form-submit{}
section.contacts form#contacts-form button#contacts-form-submit{}
main section.contacts form#contacts-form button#contacts-form-submit{}
body section.contacts form#contacts-form button#contacts-form-submit{} */

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fffdf0;
    color: #292403;
    margin:auto;
}
li{
    display: inline;
   
}

a{
    font-size: 20px;
    text-transform: uppercase;
    color:#292403;
    padding: 25px 25px;
}

article{
    line-height: 40px;
}
h2{
    text-decoration: underline;
    padding:10px;
    border: 2px solid black;
}
footer{
    padding: 50px 0;
    background-color: #a69841;
}
header{
    padding: 50px 0;
    background-color: #a69841;
}
section{
    margin: 30px 0;
}
a:hover{
    background: #292403;
    color:#ffffff;   
}
main{
    margin: 0 20%;
}
